@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Please do not store personal information here, as this is publicly accessible. Book information is available from the public domain.</p>
